@import "../../scss//variables";

.active {
  border: 2px solid aqua;
}
.leaderboard {
  padding: $padding-game-card;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  .gameCards {
    display: flex;
    justify-content: space-around;
    // gap: 64px;
    gap: 5vw;

    img {
      max-width: 300px;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $color-light-orange;
    border-radius: $border-radius;
    padding: $padding-game-card;
    box-shadow: $box-shadow;
    width: clamp(200px, 100%, 400px);

    .title {
      font-size: 20px;
      align-self: center;
      background-color: $color-dark-gray;
      color: $color-light-orange;
      padding: $padding-btn;
      border-radius: $border-radius;
    }
  }
}

@media (max-width: 550px) {
  .gameCards {
    flex-wrap: wrap !important;
  }
}
