@import "../../scss/variables";

.game {
  // .canvas {
  //   height: fit-content;
  //   max-width: fit-content;

  // }
  .pointer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dashed aqua;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.12s;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    top: 0;
    left: 0;
    background-color: white;
    transform: translate(40px, -30px);
    visibility: hidden;
    opacity: 0;
    scale: 0%;
    transition: opacity ease 0.12s, scale ease 0.12s;
    padding: 8px;
    border-radius: $border-radius;

    > div:hover {
      cursor: pointer;
      background-color: $color-beige;
    }
  }
  .visible {
    visibility: visible;
    opacity: 1;
    scale: 100%;
  }
}
