.characterCard {
  display: flex;
  align-items: center;
  gap: 6px;

  .imgContainer {
    img {
      width: 64px;
    }
  }
}
.isFounded {
  img {
    filter: grayscale(0.8);
  }
  text-decoration: line-through;
}
