@import "../../scss/variables";

.characterCard {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: default;
  border-radius: $border-radius;
  padding: 4px;
  transition: $transition;

  .imgContainer {
    display: flex;
    align-items: center;
    img {
      width: 64px;
      border-radius: $border-radius;
    }
  }
}

.isFound {
  img {
    filter: grayscale(0.8);
  }
  text-decoration: line-through;
}

.inList {
  cursor: pointer;
  &:hover {
    background-color: $color-beige;
  }
}
