@import "../../scss/variables";

.characterCard {
  display: flex;
  align-items: center;
  gap: 6px;

  .imgContainer {
    display: flex;
    align-items: center;
    img {
      width: 64px;
      border-radius: $border-radius;
    }
  }
}
.isFound {
  img {
    filter: grayscale(0.8);
  }
  text-decoration: line-through;
}
