.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;

  .itemsWrapper {
    display: flex;
    gap: 16px;

    .charactersContainer {
      display: flex;
    }

    .stopwatch {
      display: flex;
      align-items: center;
    }
  }
}
