$color-dark-gray: #454545;
$color-orange: #ff6000;
$color-light-orange: #ffa559;
$color-beige: #ffe6c7;

$padding-header: 16px 32px;
$padding-btn: 6px 16px;
$padding-game-card: 16px;

$border-radius: 16px;

$transition: all ease 0.12s;

$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
